#text{
    position: absolute;
    top:75%;
    width:88%;
    right: 6%;
}

.Lydia{
text-align: right;
opacity: 0;
transform: translateX(20px);
transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.George{
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.center{
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.paral{
    opacity: 0;
    transition: opacity 0.6s ease-out;
    position: fixed;
    width:100%;
    height:auto;
    top:-200px;
}

.visible{
    opacity: 1;
    transform: translateX(0);
}

.space{
    color: rgba(0, 0, 0, 0);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt; 
}

#toscroll{
    position: absolute;
    color: white;
}
#animat{
    position: fixed;
    top:0px;
    width:100%;
    height:auto;
    display: block;
}
#animatFundo{
    position: fixed;
    top:0px;
    width:100%;
    height:auto;
    display: block;
}


#butao{
    width: 50px;
    height:10px;
    background-color: grey;
    display: none;
    position: fixed;
    bottom:6%;
    left: 10%;
}

#toscroll{
    top: 1300px;
}


@media (min-width: 945px) {
    .smartphone{
        display:none;
    }
}
@media (max-width: 945px) {
    .smartphone{
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
}
