#text{
    position: absolute;
    top:80%;
    width:80%;
    right: 10%;
}

.Lydia{
text-align: right;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
}

#toscroll{
    position: absolute;
    color: white;
}
#animat{
    position: fixed;
    width:100%;
    height:auto;
    display: block;
}

#butao{
    width: 50px;
    height:10px;
    background-color: grey;
    display: none;
    position: fixed;
    bottom:10%;
    left: 10%;
}
