#text{
    position: absolute;
    top:80%;
    width:80%;
    right: 10%;
}

.Lydia{
text-align: right;
}

.space{
    color: rgba(0, 0, 0, 0);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
}

#toscroll{
    position: absolute;
    color: white;
}
#animat{
    position: fixed;
    top:0px;
    width:100%;
    height:auto;
    display: block;
}
#animatFundo{
    position: fixed;
    top:0px;
    width:100%;
    height:auto;
    display: block;
}


#butao{
    width: 50px;
    height:10px;
    background-color: grey;
    display: none;
    position: fixed;
    bottom:10%;
    left: 10%;
}

#toscroll{
    top: 1100px;
}
